<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="view" src="~/Pages/About.ascx" tagName="About"/>
        <add tagPrefix="view" src="~/Pages/Opportunities.ascx" tagName="Opportunities"/>
        <add tagPrefix="view" src="~/Pages/Internship.ascx" tagName="Internship"/>
        <add tagPrefix="view" src="~/Pages/Semester.ascx" tagName="Semester"/>
        <add tagPrefix="view" src="~/Pages/Requirement.ascx" tagName="Requirement"/>
        <add tagPrefix="view" src="~/Pages/HostExternship.ascx" tagName="HostExternship"/>
      </controls>
    </pages>
  </system.web>
</configuration>
